/*
	-----------------------------------------------
    Example Defaults
	-----------------------------------------------
	+ Layout
	+ Base Typography
*/ 

/* !Layout
--------------------- */
html {
	background: #eee;
}

body {
	background: #eee url(images/bg-body.gif);
	color: #333;
	font: 75%/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 20px;
}

#container {
	background: url(images/bg-form-btm.png) no-repeat 100% 100%;
	padding-bottom: 18px;
	width: 600px;
}

#container-inner {
	background: #fff url(images/bg-form.gif) repeat-x;
	border: 1px solid #fff;
	border-color: #fff #fff #ababab;
	padding: 20px;
}


/* !Base Typography
--------------------- */
a {
	text-decoration: none;
	color: #26808c;
}

a:hover,
a:focus {
	text-decoration: underline;
}

p {
	margin: 1em 0;
	padding: 0;
}

strong {
	font-weight: bold;
}

h1 {
	border-bottom: 1px solid #fff;
	background: url(images/bg-ccc.gif) 0 100% repeat-x;
	color: #666666;
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1;
	margin: 0 0 0.7em;
	padding: 0 0 28px;
}

input,
textarea,
select {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}